

extends ./common_page



block section 
    section.section.section-news(data-section="news" data-cur-user=cur_user && JSON.stringify(cur_user))
        .news 
            header.main-header
                .header-content.f-sm.f-3
                    a(href=`/news/explore/${category || "general"}`)
                        button.btn--icon.btn--back
                            i.fas.fa-arrow-left
                    h.h-7.mg-0=news.description

            if(news)
                .news-content
                    .news-img 
                        img(src=`${news.urlToImage}`)

                    .news-content.p-sm
                        p.t--lw.news-source= news.source
                        h3.h-3= news.title
                        p.p--md= `${news.content}`


