
.createTweet-main
    form(class="form form--createTweet" onsubmit="return false;" data-action="create-tweet" data-active="false" data-tweet-schedule="false" data-multiple-tweets="false" data-tweet-empty="true")
        input.hidden(type="text", name="tweet_type" value="text")
        .createTweet
            .createTweet-container

                a(href=`/users/${cur_user.avatar.slice(1)}`)
                    img.createTweet-user__img.img--md(src=`/img/users/${cur_user.profilePic || "default.png"}` alt='user photo')
                
                .createTweet-schedule-timing.t--sm.f-sm.f-3.hidden             
                    i.fas.fa-calendar
                    p
                        | Will send 
                        span.createTweet-schedule-timing-value

                button.btn--inline.preview-parent(data-action='choose-audience' data-active='false' data-choose-audience-btn)
                    span.preview-parent-text  Everyone 
                    i.fas.fa-angle-down

                    //- choose-audience-input
                    input.hidden.preview-parent-input(type="text" name="target_audience" value="everyone")

                header.createTweet-header.mg-v-sl
                    .form-group.mg-lw
                        textarea.createTweet-textarea(placeholder="What's happening?" name='text' data-scroll-event="false" 
                        data-input-change-event="false")

                    include ../uploadImgs/tweetImgs 

                    button.btn--span.preview-parent(data-action='choose-whocan-reply' data-active='false' data-restrict="false" data-choose-who-can-reply-btn)
                        i.fas.fa-globe-americas
                        i.hidden.fas.fa-lock                 

                        //- audience-can-reply-input
                        input.hidden.preview-parent-input(type="text" name="audience_can_reply" value="everyone")
                        span.preview-parent-text Everyone can reply

                    .line-col-end.line-dim &nbsp;

                footer.createTweet-footer
                    .createTweet-btns

                        button.createTweet-btn.btn--icon-color(data-action='add-img')
                            label(for='tweet-upload-image')
                            i.fa.fa-file-image-o

                            //- upload-input 
                            input#tweet-upload-image.createTweet-input.hidden(type='file' accept='image/*'  name='upload_image' data-change-event="false" multiple data-files="[]" )

                        button.createTweet-btn.btn--icon-color(data-action='schedule-post')
                            label(for='tweet-schedule-input')
                                i.fa.fa-clock-o

                            //- schedule-input
                            input#tweet-schedule-input.createTweet-input.hidden(name='schedule_post_time')
                            
                    .createTweet-btns.createTweet-btns--submit
                        button.btn--percent-box(data-action='tweet-text-limit')
                            .flex-wrapper
                                .single-chart
                                    svg.circular-chart.orange(viewbox='0 0 36 36')
                                        path.circle-bg(d='M18 2.0845\
                                        a 15.9155 15.9155 0 0 1 0 31.831\
                                        a 15.9155 15.9155 0 0 1 0 -31.831')
                                        path.circle(stroke-dasharray='2, 100' d='M18 2.0845\
                                        a 15.9155 15.9155 0 0 1 0 31.831\
                                        a 15.9155 15.9155 0 0 1 0 -31.831')
                        .line-v
                        button.btn--icon-color(data-action='add-another-tweet')
                            i.fa.fa-plus
                        button.btn--primary.btn--sm(data-action='save-tweet' disabled='')
                            | Tweet
                        button.btn--primary.btn--sm.hidden(data-action='save-schedule-tweet')
                            | Schedule


//- .createTweet-main
//-     form(class="form form--createTweet" onsubmit="return false;" data-action="create-tweet" data-active="false" data-tweet-schedule="false" data-multiple-tweets="false" data-tweet-empty="true")
//-         .createTweet
//-             .createTweet-container
//-                 a(href='/me')
//-                     img.createTweet-user__img.img--md(src='' alt='user photo')
                
                
//-                 .createTweet-schedule-timing.t--sm.f-sm.f-3.hidden             
//-                     i.fas.fa-calendar
//-                     p
//-                         | Will send 
//-                         span.createTweet-schedule-timing-value


//-                 button.btn--inline.preview-parent(data-action='choose-audience' data-active='false')
//-                     span.preview-parent-text  Everyone 
//-                     input.hidden.preview-parent-input(type="text" name="target_audience" value="everyone")
//-                     i.fas.fa-angle-down
//-                     .preview(data-type="choose-audience" data-click-event="false")
//-                         .overlay-transparent
//-                         .preview-container
//-                             header.preview-header
//-                                 h6.h-6.mg-lw Choose audience
//-                             .preview-list
//-                                 .preview-item(data-active='true' data-value="everyone")
//-                                     .preview-iconBox.icon-box--primary
//-                                         i.icon.fas.fa-globe-americas
//-                                     .preview-details
//-                                         .preview-title Everyone
//-                                     p.preview-state
//-                                         i.fa.fa-check
//-                                 .preview-item(data-active='false' data-value="circle")
//-                                     .preview-iconBox.icon-box--secondary
//-                                         i.icon.fas.fa-users
//-                                     .preview-details
//-                                         .preview-title Twitter Circle
//-                                         .preview-extra
//-                                             h8.h-8 1
//-                                             |  Person
//-                                             a.btn--text-white.preview-option__link.preview-open-component( data-action="open-user-edit-circle") Edit
//-                                     p.preview-state
//-                                         i.fa.fa-check


//-                 header.createTweet-header.mg-v-sl
//-                     .form-group.mg-lw
//-                         textarea.createTweet-textarea(placeholder="What's happening?" name='text' data-scroll-event="false" 
//-                         data-input-change-event="false" maxlength='200')

//-                     .tweet-uploadImg__container.mg-lw.hidden
//-                         .tweet-uploadImg__content.grid--collage(data-items="0")
//-                             figure.tweet-uploadImg__fig.hidden
//-                                 button.btn--icon-dull.pos-tl(data-action='remove-img')
//-                                     i.fa.fa-times
//-                                 //- button.btn--dull.btn--sm.pos-br.hidden (data-action='modify-img')
//-                                     | Edit
//-                                 img.tweet-uploadImg(src=`${imgUrl}` alt='')
//-                             figure.tweet-uploadImg__fig.hidden
//-                                 button.btn--icon-dull.pos-tl(data-action='remove-img')
//-                                     i.fa.fa-times
//-                                 //- button.btn--dull.btn--sm.pos-br.hidden (data-action='modify-img')
//-                                     | Edit
//-                                 img.tweet-uploadImg(src=`${imgUrl}` alt='')
//-                             figure.tweet-uploadImg__fig.hidden
//-                                 button.btn--icon-dull.pos-tl(data-action='remove-img')
//-                                     i.fa.fa-times
//-                                 //- button.btn--dull.btn--sm.pos-br.hidden (data-action='modify-img')
//-                                     | Edit
//-                                 img.tweet-uploadImg(src=`${imgUrl}` alt='')
//-                             figure.tweet-uploadImg__fig.hidden
//-                                 button.btn--icon-dull.pos-tl(data-action='remove-img')
//-                                     i.fa.fa-times
//-                                 //- button.btn--dull.btn--sm.pos-br.hidden (data-action='modify-img')
//-                                     | Edit
//-                                 img.tweet-uploadImg(src=`${imgUrl}` alt='')


//-                     button.btn--span.preview-parent(data-action='choose-whocan-reply' data-active='false' data-restrict="false")
//-                         i.fas.fa-globe-americas
//-                         i.hidden.fas.fa-lock                    	

//-                         span.preview-parent-text Everyone can reply
//-                         input.hidden.preview-parent-input(type="text" name="audience_can_reply" value="everyone")

//-                         .preview(data-type="choose-who-can-reply" data-click-event="false")
//-                             overlay.overlay-transparent 
//-                             .preview-container
//-                                 header.preview-header.mg-lw
//-                                     h5.h-7.mg-sl Who can reply?
//-                                     p.t--md
//-                                         | Choose who can reply to this Tweet. Anyone mentioned can
//-                                         | always reply.
//-                                 .preview-list
//-                                     .preview-item(data-active='true' data-value="everyone")
//-                                         .preview-iconBox.icon-box--primary
//-                                             i.fas.fa-globe-americas
//-                                         .preview-details
//-                                             .paragraph--md Everyone
//-                                         p.preview-state
//-                                             i.fa.fa-check
//-                                     .preview-item(data-active='false' data-value="following")
//-                                         .preview-iconBox.icon-box--primary
//-                                             i.fa.fa-user
//-                                         .preview-details
//-                                             .paragraph--md People you follow
//-                                         p.preview-state
//-                                             i.fa.fa-check
//-                                     .preview-item(data-active='false' data-value="circle")
//-                                         .preview-iconBox.icon-box--primary
//-                                             i.fa.fa-user-secret
//-                                         .preview-details
//-                                             .paragraph--md
//-                                                 | Only people you mention
//-                                         p.preview-state
//-                                             i.fa.fa-checkboxes

//-                     .line-col-end.line-dim &nbsp;

//-                 footer.createTweet-footer
//-                     .createTweet-btns
//-                         button.createTweet-btn.btn--icon-color(data-action='add-img')
//-                             label(for='tweet-upload-image')
//-                             i.fa.fa-file-image-o
//-                             input#tweet-upload-image.createTweet-input.hidden(type='file' accept='image/*'  name='upload_image' data-change-event="false" multiple )
//-                         button.createTweet-btn.btn--icon-color(data-action='schedule-post')
//-                             label(for='tweet-schedule-input')
//-                                 i.fa.fa-clock-o
//-                             input#tweet-schedule-input.createTweet-input.hidden(name='schedule_post_time')
//-                     .createTweet-btns.createTweet-btns--submit
//-                         button.btn--percent-box(data-action='tweet-text-limit')
//-                             .flex-wrapper
//-                                 .single-chart
//-                                     svg.circular-chart.orange(viewbox='0 0 36 36')
//-                                         path.circle-bg(d='M18 2.0845\
//-                                         a 15.9155 15.9155 0 0 1 0 31.831\
//-                                         a 15.9155 15.9155 0 0 1 0 -31.831')
//-                                         path.circle(stroke-dasharray='2, 100' d='M18 2.0845\
//-                                         a 15.9155 15.9155 0 0 1 0 31.831\
//-                                         a 15.9155 15.9155 0 0 1 0 -31.831')
//-                         .line-v
//-                         button.btn--icon-color(data-action='add-another-tweet')
//-                             i.fa.fa-plus
//-                         button.btn--primary.btn--sm(data-action='save-tweet' disabled='')
//-                             | Tweet
//-                         button.btn--primary.btn--sm.hidden(data-action='save-schedule-tweet')
//-                             | Schedule












