form.form.form--signUp(data-form='signUp' data-stage=1  data-optional='false' data-action='customise-experience' 
data-all-input-fields-valid='false'
 onsubmit='return false;' data-email=`${user.email}` data-progress-line-exist="true" 
data-is_form_hidden="true" 
data-form_submitting="false")
    .form-overlay.overlay &nbsp;
    .form-container.abs-center

        div.progress-line(data-progress='0')
        //- button.btn--icon.form-backBtn
        //-     i.fas.fa-arrow-left
        .form-content
            h7.h-7.mg-sm Step 2 of 5
            h4.h-4.mg-md Customize your experience
            h5.h-5
                | Track where you see Twitter content across the web
            .form-checkbox
                p.p--md.mg-md
                    | twitter used this data to personalize your experiece.This web
                    | browsing history will never be stored with your name,email,or
                    | phone number
                button.btn--checkbox(data-checked='false')
                    i.fas.fa-check
                input(type="text" class="hidden" class="checkbox-value" name="trackUserActivity")
            p.t--md.mg-bg
                | By signing up, you agree to our Terms,Privacy Policy and Cookie Use.
                | Twitter may use your contact imformation, including your email
                | address and phone number for purposes outlined in our Privacy
                | Policy,
            .form-submitBtn__box
                button.btn--white.form-submitBtn(disabled='true') Next
