form.form.form--signUp(data-form='signUp'  data-stage=2  data-email=`${user.email}` data-action='confirm-account-credentials' data-optional='false' onsubmit='return false;'
data-progress-line-exist="true" 
data-is_form_hidden="true" 
data-form_submitting="false"
)
    .form-overlay.overlay &nbsp;
    .form-container.abs-center
        div.progress-line(data-progress='0')
        //- button.btn--icon.form-backBtn
        //-     i.fas.fa-arrow-left
        .form-content
            h7.h-7.mg-sm Step 3 of 5
            h3.h-4.mg-md Create your account
            .form-groups.mg-bg
                .form-group(data-submitted='true' data-field='name')
                    label.form-label(for='name') Name
                    input#name.form-input(type='text' minlength='0' name="name" maxlength='50' value=`${user.name}`)
                .form-group(data-submitted='true' data-field='email')
                    label.form-label(for='email') Email
                    input#phone.form-input(type='email' name="email" value=`${user.email}` maxlength='9')
                .form-group(data-submitted='true'  data-field='date')
                    label.form-label(for='date') Birth date
                    input#date.form-input(type='text' name="birthDate" value=`${new Date(user.birthDate).toLocaleString().split(",")[0] }`)
            .form-submitBtn__box
                p.t--sm.mg-sm
                    | By signing up, you agree to our Terms,Privacy Policy and Cookie
                    | Use. Twitter may use your contact imformation, including your
                    | email address and phone number for purposes outlined in our
                    | Privacy Policy,
            button.btn--primary.btn--100.form-submitBtn Sign up
